.todo-filter {
    display: flex;
    justify-content: center;
}

@media(max-width: 600px) {
    .todo-filter {
         justify-content: space-around; 
    }
}

.todo-filter li {
     margin: 0 4px; 
}

.todo-list {
    display: flex;
    flex-direction: column;
}

.todo-list li {
    height: 40px;
    margin: 6px 0;
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
}

.delete-item {
    display: inline-flex;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: 5px;
}

.clear-completed {
    color: #ef5350;
    margin-left: 10px;
}