.container {
    padding-bottom: 50px;
}

.todo-filter {
    display: flex;
    justify-content: center;
}

@media(max-width: 600px) {
    .todo-filter {
         justify-content: space-around; 
    }
}

.todo-filter li {
     margin: 0 4px; 
}

.todo-list {
    display: flex;
    flex-direction: column;
}

.todo-item, .todo-item-edit {
    min-height: 40px;
    margin: 6px 0;
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
}

.todo-item a {
    height: 20px;
}

.todo-item-edit input {
    margin: 0 !important;
    height: 2rem !important;
    margin-right: 7px !important;
}

.todo-text {
    width: 100%;
    font-size: 1em;
    cursor: pointer;
    vertical-align: center;
}

.delete-item {
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.clear-completed {
    color: #ef5350;
    margin-left: 10px;
}

.done {
    text-decoration: line-through;
    color: #9e9e9e;
}